<link rel="stylesheet" href="../css/modal.css">
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div id="modal-content" class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>
<script src="../js/process-timecard.js"></script>
<script src="../js/modal.js"></script>