{{!-- Current Time Card --}}
{{!-- Previous Time Cards --}}
{{!-- Supervisors: Approve Time Cards --}}
{{!-- Admin: Manage Supervisors --}}
{{!-- Admin: Manage Users --}}
{{!-- Admin: Help --}}
{{!-- Logout --}}
<link rel="stylesheet" href="../css/navbar.css">
<nav>
    <button id="nav-time-card" class="nav left">Time Card</button>
    <button id="nav-history" class="nav left">History</button>
    <button id="nav-super-approve" class="nav left">Approve</button>
    <button id="nav-admin-supervisors" class="nav left">Manage Supervisors</button>
    <button id="nav-admin-users" class="nav left">Manage Users</button>
    <button id="nav-admin-help" class="nav left">Help</button>
    <button id="nav-logout" class="nav right">Logout</button>
</nav>
<div id="nav-offset"></div>
<script src="../../js/navbar.js"></script>