<link rel="stylesheet" href="../css/navbar.css">
<nav id="nav" issuper={{isSuper}} isadmin={{isAdmin}}>
    <button id="nav-time-card" class="nav left">Time Card</button>
    {{#if isSuper}}
    <button id="nav-super-approve" class="nav left">Approve</button>
    {{/if}}
    {{#if isAdmin}}
    <button id="nav-admin-supervisors" class="nav left">Supervisors</button>
    <button id="nav-admin-users" class="nav left">Users</button>
    <button id="nav-admin-timeperiods" class="nav left">Time Periods</button>
    <button id="nav-admin-submit" class="nav left">Submit Time Cards</button>
    {{/if}}
    {{!-- <button id="nav-admin-help" class="nav left">Help</button> --}}
    <button id="nav-user-updates" class="nav left">Updates</button>
    <button id="nav-logout" class="nav left">Logout</button>
    <button id="nav-username" class="nav right">{{userName}}</button id="nav-username">
    <button id="nav-hamburger" class="nav"><div class="hamburger-bar"></div><div class="hamburger-bar"></div><div class="hamburger-bar"></div></button>
</nav>
<div id="nav-offset"></div>
<script src="../../js/navbar.js"></script>