<link rel="stylesheet" href="../css/admin-managesupers.css">
<div id="background">
    {{> navbar}}
    <div id="employee-select">
        <h2 id="select-employee-title">Select an Employee</h2>
        <ul id="employee-list">
            {{#each users}}
            <li data-id={{this.user_id}} class="li-employee">{{this.name}}<span class="mark-super">{{#if this.isSuper}}Supervisor{{/if}}</span></li>
            {{/each}}
        </ul>
    </div>
    <div id="employee-manage" class="hidden-div">
        <button id="back-btn"><span id="back-sign">&lt;</span> Back</button>
        <h1 id="employee-name">Carsdan Dvorachek</h1>
        <h2 id="supervisor-title">Supervisor Status</h2>
        <select name="supervisor-status" id="supervisor-status-select"></select>
        <h2 id="supervisor-title">Supervising</h2>
        <ul id="supervisee-list">
        </ul>
    </div>
</div>
<script src="../js/admin-managesupers.js"></script>