<link rel="stylesheet" href="../css/admin-timeperiods.css">
<div id="background">
    {{> navbar}}
    <div id="init-timeperiods">
        <input type="date" id="inpt-init-timeperiods">
        <button id="btn-init-timeperiods">Initialize Time Periods</button>
    </div>
</div>
<script src="../js/admin-timeperiods.js"></script>