<link rel="stylesheet" href="../css/admin-submittimecard.css">
<div id="background">
    {{> navbar}}
    <div id="current-timecards">
        <div id="current-approved-timecards">

        </div>
        <div id="current-notapproved-timecards">

        </div>
    </div>
    <div id="previous-timecards">
        <div id="previous-approved-timecards">

        </div>
        <div id="previous-notapproved-timecards">

        </div>
    </div>
    <div id="twoprevious-timecards">
        <div id="twoprevious-approved-timecards">

        </div>
        <div id="twoprevious-notapproved-timecards">

        </div>
    </div>
</div>
<script src="../js/admin-submittimecard"></script>