<div id="background">
    <div id="confirmation-box">
        <h3>Check Admin Email</h3>
        <p>A confirmation email has been sent to the administrative email.</p> <br />
        <p>Once you confirm the account registration by clicking the link sent in the email, the account will be
            active.</p>
    </div>
</div>