<link rel="stylesheet" href="../css/signup.css">
<div id="background">
    <div id="div-signup-box">
        <div id="form-sign-up" action="">
            <div id="div-hdr-sign-up">
                <p id="p-sign-up">Register Admin</p>
            </div>
            <div id="div-inpt-name">
                <p id="p-name" class="p-sign-up-cred">Name</p>
                <input id="inpt-name" name="name" type="text" class="inpt-sign-up" placeholder="Name">
            </div>
            <div id="div-inpt-email">
                <p id="p-email" class="p-sign-up-cred">Email</p>
                <input id="inpt-empl-id" name="email" type="text" class="inpt-sign-up" placeholder="Email">
            </div>
            <div id="div-inpt-password">
                <p id="p-password" class="p-sign-up-cred">Password</p>
                <input id="inpt-password" name="name" type="password" class="inpt-sign-up" placeholder="Password"><br />
            </div>
            <div id="div-inpt-password-confirm">
                <p id="p-password-confirm" class="p-sign-up-cred">Confirm Password</p>
                <input id="inpt-password-confirm" name="name" type="password" class="inpt-sign-up"
                    placeholder="Confirm Password"><br />
            </div>
            <div id="div-titles">
                <div class="title">
                    <p class="p-sign-up-cred">Title</p>
                    <input class="inpt-title inpt-sign-up" type="text" placeholder="Title">
                </div>
            </div>
            <button id="btn-add-title">Add Title</button>
            <div id="div-inpt-password-site">
                <p id="p-password-site" class="p-sign-up-cred">Site Passphrase</p>
                <input id="inpt-password-site" name="name" type="password" class="inpt-sign-up"
                    placeholder="Site Passphrase"><br />
            </div>
            <div id="div-btn-sign-up">
                <button id="btn-sign-up">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/signup-addtitle.js"></script>
<script src="../js/new-admin.js"></script>