<link rel="stylesheet" href="../css/signin.css">
<div id="background">
    <div id="div-login-box">
        <form id="form-sign-in" action="">
            <div id="div-hdr-sign-in">
                <p id="p-sign-in">Sign In</p>
            </div>
            <div id="div-inpt-username">
                <p id="p-username" class="p-sign-in-cred">Email</p>
                <input id="inpt-empl-id" type="text" class="inpt-sign-in" placeholder="Email">
            </div>
            <div id="div-inpt-password">
                <p id="p-password" class="p-sign-in-cred">Password</p>
                <input id="inpt-password" type="password" class="inpt-sign-in" placeholder="Password"><br />
                {{!-- <input type="checkbox"><span>Remember Me</span> --}}
            </div>
            <div id="div-btn-sign-in">
                <button id="btn-sign-in">Sign In</button>
            </div>
            <div id="div-sign-up">
                <span>Don't have a time sheet account? </span><a href="/new-user">Register Here</a>
            </div>
        </form>
    </div>
</div>
<script src="../js/signin.js"></script>