<link rel="stylesheet" href="../css/signup.css">
<div id="background">
    <div id="div-signup-box">
        <form id="form-sign-up" action="">
            <div id="div-hdr-sign-up">
                <p id="p-sign-up">Account Registration</p>
            </div>
            <div id="div-inpt-email">
                <p id="p-email" class="p-sign-up-cred">Email</p>
                <input id="inpt-empl-id" type="text" class="inpt-sign-up" placeholder="Email">
            </div>
            <div id="div-inpt-password">
                <p id="p-password" class="p-sign-up-cred">Password</p>
                <input id="inpt-password" type="password" class="inpt-sign-up" placeholder="Password"><br />
            </div>
            <div id="div-inpt-password-confirm">
                <p id="p-password-confirm" class="p-sign-up-cred">Confirm Password</p>
                <input id="inpt-password-confirm" type="password" class="inpt-sign-up"
                    placeholder="Confirm Password"><br />
            </div>
            <div id="div-inpt-check-admin">
                <p id="p-check-admin" class="p-sign-up-cred">Administrator:</p>
                <input id="inpt-check-admin" type="checkbox" class="input-sign-up">
            </div>
            <div id="div-btn-sign-up">
                <button id="btn-sign-up">Sign Up</button>
            </div>
            <div id="div-sign-up">
                <span>Already have an account? </span><a href="/">Sign In Here</a>
            </div>
        </form>
    </div>
</div>