<link rel="stylesheet" href="../css/super-approve.css">
<div id="background">
    {{> navbar}}
    <div id="options-div">
        <select name="view" id="mult-title-select" style="display:none">
            <option value="seperate">Seperate</option>
            <option value="combined">Combined</option>
        </select>
        <span id="span-ready">---- ---- ----</span>
        <select name="week" id="week-choice">
            <option value="current">Current Period</option>
            <option value="previous">Last Period</option>
            <option value="twoprevious">Two Periods Ago</option>
        </select>
        <button id="approve-btn" class="unapproved">Approve</button>
    </div>
    <div id="timecard">
        <table id="week1">
            <tr>
                <th class="th-left">Week 1</th>
                <th class="th-day">Sunday</th>
                <th class="th-day">Monday</th>
                <th class="th-day">Tuesday</th>
                <th class="th-day">Wednesday</th>
                <th class="th-day">Thursday</th>
                <th class="th-day">Friday</th>
                <th class="th-day">Saturday</th>
                <th id="th-weekly">Weekly Total</th>
            </tr>
            <tr>
                <td>Daily Total</td>
                <td></td>
                <td id="1-total"></td>
                <td id="2-total"></td>
                <td id="3-total"></td>
                <td id="4-total"></td>
                <td id="5-total"></td>
                <td id="6-total"></td>
                <td></td>
            </tr>
        </table>
        <table id="week2">
            <tr>
                <th class="th-left">Week 2</th>
                <th class="th-day">Sunday</th>
                <th class="th-day">Monday</th>
                <th class="th-day">Tuesday</th>
                <th class="th-day">Wednesday</th>
                <th class="th-day">Thursday</th>
                <th class="th-day">Friday</th>
                <th class="th-day">Saturday</th>
                <th id="th-weekly">Weekly Total</th>
            </tr>
            <tr>
                <td>Daily Total</td>
                <td></td>
                <td id="1-total-2"></td>
                <td id="2-total-2"></td>
                <td id="3-total-2"></td>
                <td id="4-total-2"></td>
                <td id="5-total-2"></td>
                <td id="6-total-2"></td>
                <td id="7-total-2"></td>
            </tr>
        </table>
        <div id="empl-list">
            <ul>
                {{#each supervisees}}
                <li class="supervisee" 
                    data-id={{this.user_id}}
                    data-titleid={{this.title_id}}>
                    {{this.titleName}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<script src="../js/process-timecard.js"></script>
<script src="../js/super-approve.js"></script>