<link rel="stylesheet" href="../css/user-history.css">
<div id="background">
    {{> navbar}}
    <select name="week" id="week">
        <option value="week1">Week 1</option>
        <option value="week2">Week 2</option>
        <option value="week3">Week 3</option>
    </select>
    <div id="timecard">
        <table>
            <tr>
                <th>Week 1</th>
                <th>Notes</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Weekly Total</th>
            </tr>
            <tr>
                <td>Time In</td>
                <td id="notes-0"></td>
                <td id="sunday-0"></td>
                <td id="monday-0"></td>
                <td id="tuesday-0"></td>
                <td id="wednesday-0"></td>
                <td id="thursday-0"></td>
                <td id="friday-0"></td>
                <td id="saturday-0"></td>
                <td id="weekly-total"></td>
            </tr>
            <tr>
                <td>Time Out</td>
                <td id="notes-1"></td>
                <td id="sunday-1"></td>
                <td id="monday-1"></td>
                <td id="tuesday-1"></td>
                <td id="wednesday-1"></td>
                <td id="thursday-1"></td>
                <td id="friday-1"></td>
                <td id="saturday-1"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time In</td>
                <td id="notes-2"></td>
                <td id="sunday-2"></td>
                <td id="monday-2"></td>
                <td id="tuesday-2"></td>
                <td id="wednesday-2"></td>
                <td id="thursday-2"></td>
                <td id="friday-2"></td>
                <td id="saturday-2"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time Out</td>
                <td id="notes-3"></td>
                <td id="sunday-3"></td>
                <td id="monday-3"></td>
                <td id="tuesday-3"></td>
                <td id="wednesday-3"></td>
                <td id="thursday-3"></td>
                <td id="friday-3"></td>
                <td id="saturday-3"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time In</td>
                <td id="notes-4"></td>
                <td id="sunday-4"></td>
                <td id="monday-4"></td>
                <td id="tuesday-4"></td>
                <td id="wednesday-4"></td>
                <td id="thursday-4"></td>
                <td id="friday-4"></td>
                <td id="saturday-4"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time Out</td>
                <td id="notes-5"></td>
                <td id="sunday-5"></td>
                <td id="monday-5"></td>
                <td id="tuesday-5"></td>
                <td id="wednesday-5"></td>
                <td id="thursday-5"></td>
                <td id="friday-5"></td>
                <td id="saturday-5"></td>
                <td></td>
            </tr>
            <tr>
                <td>Daily Total</td>
                <td></td>
                <td id="0-total"></td>
                <td id="1-total"></td>
                <td id="2-total"></td>
                <td id="3-total"></td>
                <td id="4-total"></td>
                <td id="5-total"></td>
                <td id="6-total"></td>
                <td></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Week 2</th>
                <th>Notes</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Weekly Total</th>
            </tr>
            <tr>
                <td>Time In</td>
                <td id="notes-0-2"></td>
                <td id="sunday-0-2"></td>
                <td id="monday-0-2"></td>
                <td id="tuesday-0-2"></td>
                <td id="wednesday-0-2"></td>
                <td id="thursday-0-2"></td>
                <td id="friday-0-2"></td>
                <td id="saturday-0-2"></td>
                <td id="weekly-total-2"></td>
            </tr>
            <tr>
                <td>Time Out</td>
                <td id="notes-1-2"></td>
                <td id="sunday-1-2"></td>
                <td id="monday-1-2"></td>
                <td id="tuesday-1-2"></td>
                <td id="wednesday-1-2"></td>
                <td id="thursday-1-2"></td>
                <td id="friday-1-2"></td>
                <td id="saturday-1-2"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time In</td>
                <td id="notes-2-2"></td>
                <td id="sunday-2-2"></td>
                <td id="monday-2-2"></td>
                <td id="tuesday-2-2"></td>
                <td id="wednesday-2-2"></td>
                <td id="thursday-2-2"></td>
                <td id="friday-2-2"></td>
                <td id="saturday-2-2"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time Out</td>
                <td id="notes-3-2"></td>
                <td id="sunday-3-2"></td>
                <td id="monday-3-2"></td>
                <td id="tuesday-3-2"></td>
                <td id="wednesday-3-2"></td>
                <td id="thursday-3-2"></td>
                <td id="friday-3-2"></td>
                <td id="saturday-3-2"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time In</td>
                <td id="notes-4-2"></td>
                <td id="sunday-4-2"></td>
                <td id="monday-4-2"></td>
                <td id="tuesday-4-2"></td>
                <td id="wednesday-4-2"></td>
                <td id="thursday-4-2"></td>
                <td id="friday-4-2"></td>
                <td id="saturday-4-2"></td>
                <td></td>
            </tr>
            <tr>
                <td>Time Out</td>
                <td id="notes-5-2"></td>
                <td id="sunday-5-2"></td>
                <td id="monday-5-2"></td>
                <td id="tuesday-5-2"></td>
                <td id="wednesday-5-2"></td>
                <td id="thursday-5-2"></td>
                <td id="friday-5-2"></td>
                <td id="saturday-5-2"></td>
                <td></td>
            </tr>
            <tr>
                <td>Daily Total</td>
                <td></td>
                <td id="0-total-2"></td>
                <td id="1-total-2"></td>
                <td id="2-total-2"></td>
                <td id="3-total-2"></td>
                <td id="4-total-2"></td>
                <td id="5-total-2"></td>
                <td id="6-total-2"></td>
                <td id="7-total-2"></td>
            </tr>
        </table>
    </div>
</div>
<script src="../js/process-timecard.js"></script>
<script src="../js/user-history.js"></script>