<link rel="stylesheet" href="../css/user-updates.css">
{{> navbar}}
<div id="background">
    <div id="white-sheet">
        <div id="update-two">
            <h1>Update April 2023</h1>
            <h3>Users</h3>
            <ul>
                <li>When visiting the website on a phone, the top navigation bar now displays as a dropdown "hamburger" menu.</li>
            </ul>
            <h3>Admins</h3>
            <ul>
                <li>The "Supervisors" tab is now mobile friendly.</li>
                <li>The "Supervisors" tab has been overhauled to be more user friendly.</li>
            </ul>
            <div>
                <h2>New "Hamburger" Menu</h2>
                <p>When viewing the website on a phone, the buttons on the navigation bar at the top are gone and replaced with a dropdown "hamburger menu" &#40;the three horizontal bars&#41;. However, the rest of the site still looks like a jarbled mess on a phone. This update is the first of many to bring mobile functionality to the website so that you can manage your timecards on your phone.</p>
            </div>
            <div>
                <h2>Overhauled Supervisors Tab</h2>
                <p>Given that there is currently only one admin on the site, the majority of this update will only impact one person. However, the admin's supervisor tab will look very different and was designed with mobile functionality in mind, so this tab now works on your phone! Managing whether or not an employee is a supervisor and who they would be supervising has been changed to be an easier and more intuitive process.</p>
            </div>
        </div>
        <div id="update-one">
            <h1>Update February 2023</h1>
            <h3>Employees</h3>
            <ul>
                <li>Timecards have been changed to support multiple different types of paid time off.</li>
                <li>The navagation bar at the top of the screen now has a new tab called "Updates".</li>
            </ul>
            <h3>Supervisors</h3>
            <ul>
                <li>Supervisors have a mild filter for viewing employees when approving timecards.</li>
                <li>Supervisors have a checklist to see which employees they have and haven't approved per pay period.</li>
            </ul>
            <h3>Supervisors and Admins</h3>
            <ul>
                <li>When selecting an employee from a list, that employee will now be marked to show who is currently selected.</li>
            </ul>
            <div>
                <h2>New Paid Time Off Options</h2>
                <p>Instead of having only Vacation or Sick options for paid time off, you now have the ability to select an option from the list below.</p>
                <ul>
                    <li>Vacation - Employees working 10+ hrs/week</li>
                    <li>Sick - All Employees</li>
                    <li>Holiday - Full Time</li>
                    <li>Sabbatical - Pastors</li>
                    <li>Jury Duty - Full Time</li>
                    <li>Benevolence - Full Time</li>
                </ul>
            </div>
            <div>
                <h2>New Updates Tab</h2>
                <p>As you can see on the top of your screen, there is a new updates tab! This page is pretty straight forward, any updates made to the website will be documented here.</p>
            </div>
            <div>
                <h2>Supervisors' New Tabs</h2>
                <p>The employees list on the approve page for supervisors now has more buttons. The first button is the "All" button, this button will display all the employees you supervise, exactly how this list used to.</p><p>The second button is the "Ready" button, this will show you all the employees who have a timecard that is ready to be submitted, but not yet approved. This will make it easy to find the employees who have timecards that are ready to be approved.</p><p>The "Check" button on the approve page will show you a check list for each pay period of all the employees who have or haven't been approved. This will make it easy for supervisors to make sure they have approved everyone per pay period.</p>
            </div>
        </div>
    </div>
</div>