<link rel="stylesheet" href="../css/user-updates.css">
{{> navbar}}
<div id="background">
    <div id="white-sheet">
        <div id="update-one">
            <h1>Update February 2023</h1>
            <h3>Employees</h3>
            <ul>
                <li>Timecards have been changed to support multiple different types of paid time off.</li>
                <li>The navagation bar at the top of the screen now has a new tab called "Updates".</li>
            </ul>
            <h3>Supervisors</h3>
            <ul>
                <li>Supervisors have a mild filter for viewing employees when approving timecards.</li>
                <li>Supervisors have a checklist to see which employees they have and haven't approved per pay period.</li>
            </ul>
            <h3>Supervisors and Admins</h3>
            <ul>
                <li>When selecting an employee from a list, that employee will now be marked to show who is currently selected.</li>
            </ul>
            <div>
                <h2>New Paid Time Off Options</h2>
                <p>Instead of having only Vacation or Sick options for paid time off, you now have the ability to select an option from the list below.</p>
                <ul>
                    <li>Vaction</li>
                    <li>Sick</li>
                    <li>Holiday</li>
                    <li>Sabbatical</li>
                    <li>Jury Duty</li>
                    <li>Benevolence</li>
                </ul>
                <p>placeholder text, but this will eventually show images and text directions on how to use the new timecard pto.</p>
            </div>
            <div>
                <h2>New Updates Tab</h2>
                <p>As you can see on the top of your screen, there is a new updates tab! This page is pretty straight forward, any updates made to the website will be documented here.</p>
            </div>
            <div>
                <h2>Supervisors' New Tabs</h2>
                <p>The employees list on the approve page for supervisors now has more buttons. The first button is the "All" button, this button will display all the employees you supervise, exactly how this list used to.</p><p>The second button is the "Ready" button, this will show you all the employees who have a timecard that is ready to be submitted, but not yet approved. This will make it easy to find the employees who have timecards that are ready to be approved.</p><p>The "Check" button on the approve page will show you a check list for each pay period of all the employees who have or haven't been approved. This will make it easy for supervisors to make sure they have approved everyone.</p>
            </div>
                <select name="" id=""></select>
        </div>
    </div>
</div>