#background {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#supers-div {
    border: solid 1px;
    display: inline-block;
    height: calc(100% - 140px);
    width: 45%;
    background-color: white;
    margin-top: 20px;
    margin-right: 35px;
    box-shadow: 0 0 15px grey;
}

#users-div {
    border: solid 1px;
    display: inline-block;
    height: calc(100% - 140px);
    width: 45%;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 15px grey;
}

li {
    border: 1px solid;
    list-style: none;
    position: relative;
    right: 3.5%;
    text-align: left;
    padding: 10px 15px;
    margin: 10px;
}

.setsuper {
    position: absolute;
    right: 2%;
    width: 140px;
}

.manageusers {
    position: absolute;
    right: calc(2% + 150px);
}

.yesSuper {
    background-color: rgb(200, 233, 210);
}

.noSuper {
    background-color: rgb(200, 226, 233);
}

.yesSupervisee {
    background-color: rgb(200, 233, 210);
}

.noSupervisee {
    background-color: rgb(223, 223, 223);
    border-color: rgb(152, 152, 152);
    color: rgb(152, 152, 152);
}