#background {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    overflow-y: scroll;
}

.container {
    width: 100vw;
}

.dropdown-period {
    border: 1px solid black;
    width: 90%;
    height: 60px;
    margin: 10px auto 0px auto;
    padding-left: 25px;
}

.timecards-section {
    display: none;
    width: 90%;
    height: calc(100vh - 286px);
    margin: auto;
    padding: 0px 12.5px;
    background-color: white;
    border: 1px black solid;
    text-align: center;
    overflow-y: scroll;
}

.timecard-display {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    margin: 10px 0px;
}

.active-period {
    background-color: rgb(102, 152, 102);
}

/* .user-identification-span {
    position: absolute;
    left: 100px;
}

.user-title-span {
    position: absolute;
    left: 400px;
}

.user-supervisor-span {
    position: absolute;
    left: 650px;
} */

span {
    padding-left: 10px;
    text-align: left;
    width: 33.333%
}