#background {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    margin: 0;
    overflow: scroll;
}

.hidden-div {
    display: none;
}

#employee-manage, #employee-select {
    width: 90%;
    height: auto;
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 15px grey;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
}

#select-employee-title {
    padding-top: 20px;
}

li {
    border: 1px solid;
    list-style: none;
    position: relative;
    text-align: left;
    padding: 10px 15px;
    margin: 10px auto;
    max-width: 80%;
}

li:hover {
    background-color: gainsboro;
}

.mark-super {
    position: absolute;
    right: 10px;
    text-align: right;
}

#back-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    background: none;
    border: solid 2.5px rgb(9, 139, 175);
    margin: 20px;
    color: rgb(9, 139, 175);
    font-size: 100%;
    padding: 5px;;
}

#back-sign {
    font-size: 110%;
}

#employee-name {
    padding-top: 60px;
}

.supervisee, .supervisee > span {
    color: green;
}

.othersupervisee, .othersupervisee > span {
    color: grey;
    border-color: grey;
}

#supervisee-list, #employee-list {
    padding-left: 0;
}

@media screen and (max-width: 580px) {
    .mark-super {
        position: static;
        display: block;
    }
}