#background {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    align-items: center;
}

#div-signup-box {
    width: 470px;
    max-height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    background: white;
    box-shadow: 0 0 15px grey;
}

#form-sign-up {
    width: 100%;
    height: 100%;
    padding: 40px;
}

#div-hdr-sign-up {
    font-size: 150%;
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.p-sign-up-cred {
    font-size: 110%;
    margin: 5px 0;
}

.inpt-sign-up {
    width: calc(100% - 80px);
    height: 20px;
    border: none;
    border-bottom: solid rgb(9, 139, 175);
    margin-bottom: 10px;
}

#a-need-help {
    float: right;
    position: relative;
    right: 80px;
}

#div-btn-sign-up {
    display: flex;
    height: 60px;
    width: calc(100% - 80px);
    align-items: center;
}

#btn-sign-up {
    color: white;
    font-size: 100%;
    margin: auto;
    background-color: rgb(9, 139, 175);
    border: none;
    padding: 8px 35px;
}

#div-sign-up {
    margin-top: 15px;
    width: calc(100% - 80px);
    text-align: center;
}

#p-check-admin {
    display: inline;
}

#inpt-check-admin {
    display: inline;
}