#background {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

#options-div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: calc(40px + 25%);
    top: 70px;
    width: 70%;
    height: 70px;
}

.timecard-label {
    margin: 5px 0 0 10px;
}

#approve-btn {
    color: white;
    font-size: 100%;
    margin: 10px;
    border: none;
    padding: 8px 35px;
    cursor: pointer;
}

#timecard {
    height: 80vh;
}

#tables-over {
    margin-top: 90px;
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

#tables > h3 {
    margin: 10px 0 0 25px;
}

#other-timecards > h3 {
    margin: 10px 0 0 25px;
}

#empl-list {
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: white;
    width: 25%;
    height: calc(100% - 80px);
    border: 1px solid;
    box-shadow: 0 0 15px grey;
    overflow-y: scroll;
}

#empl-list>ul>li {
    list-style: none;
    position: relative;
    right: 6%;
    border: 1px solid;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2.375%;
    background-color: white;
    border-collapse: collapse;
    width: 70%;
    box-shadow: 0 0 15px grey;
    display: inline-table;
}

table,
tr,
th,
td {
    border: 1px solid;
}

tr {
    height: 28px;
}

td {
    text-align: center;
}

.approved {
    background-color: rgb(126, 126, 126);
}

.unapproved {
    background-color: rgb(9, 139, 175);
}

#tabs-div {
    text-align: center;
    height: 40px;
}

.tab {
    height: 26px;
    width: 20%;
    margin: 7px 10px;
    border: none;
    background-color: rgb(9, 139, 175);
    color: white;
    cursor: pointer;
}

.active-tab {
    border: 3px solid rgb(8, 112, 141);
}

.ul-hidden {
    display: none;
}

.active {
    background-color: aquamarine;
}

.li-approved {
    background-color: rgb(197, 242, 197);
}

.li-not-approved {
    background-color: rgb(255, 156, 156);
}