#background {
    width: 100vw;
    height: calc(100%);
    min-height: 100vh;
    background-color: gainsboro;
}

#timecard {
    height: calc(100%);
    padding-bottom: 30px;
}

table {
    margin-top: 30px;
    margin-left: 2.375%;
    background-color: white;
    border-collapse: collapse;
    width: 95%;
    box-shadow: 0 0 15px grey;
}

table:first-of-type {
    margin-top: 30px;
}

table,
tr,
th,
td {
    border: 1px solid;
}

th,
td {
    width: 10%;
    height: 30px;
}

td {
    text-align: center;
}

input {
    padding-left: 20%;
    border: none;
    position: relative;
    right: 1px;
    width: calc(80%);
    height: 100%;
}

div {
    width: 100%;
    height: 100%;
}

#save-btn {
    position: absolute;
    height: 40px;
    right: 20px;
    color: white;
    font-size: 100%;
    margin: 10px;
    background-color: rgb(9, 139, 175);
    border: none;
    padding: 8px 35px;
    cursor: pointer;
}

.tr-in>td {
    border-top: 2px solid;
}

.tr-out>td {
    border-bottom: 2px solid;
}