#background {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

#timecard {
    height: calc(100% - 100px);
}

table {
    margin-top: 40px;
    margin-left: 2.375%;
    background-color: white;
    border-collapse: collapse;
    width: 95%;
    box-shadow: 0 0 15px grey;
}

table:first-of-type {
    margin-top: 60px;
}

table,
tr,
th,
td {
    border: 1px solid;
}

th,
td {
    width: 10%;
    height: 35px;
}

td {
    text-align: center;
}

div {
    width: 100%;
    height: 100%;
}

#week {
    position: absolute;
    right: 20px;
    top: 80px;
}