#background {
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: gainsboro;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#timecard {
    height: 100%;
}

#timecards-div {
    padding-bottom: 20px;
}

.timecard-header {
    display: flex;
    align-items: center;
}

.timecard-header-h3s {
    width: 30%;
}

.timecard-identifier-h3 {
    margin: 15px 0 5px 30px;
}

.timecard-header-selector {
    position: absolute;
    top: 95px;
    left: 250px;
    height: 90px;
}

table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-collapse: collapse;
    width: 95%;
    box-shadow: 0 0 15px grey;
}

table,
tr,
th,
td {
    border: 1px solid;
}

th,
td {
    width: 10%;
    height: 40px;
}

.week-day {
    min-width: 123px;
}

td {
    text-align: center;
}

.inout-input {
    padding-left: 20%;
    min-width: 100px;
    border: none;
    position: relative;
    right: 1px;
    width: calc(80%);
    height: 100%;
}

.extra-input {
    min-width: 100px;
    height: 98%;
    background: none;
    border: none;
    text-align: center;
}

div {
    width: 100%;
    height: 100%;
}

#save-btn {
    position: absolute;
    height: 40px;
    right: 20px;
    color: white;
    font-size: 100%;
    margin: 10px;
    background-color: rgb(9, 139, 175);
    border: none;
    padding: 8px 35px;
    cursor: pointer;
}

.tr-in>td {
    border-top: 2px solid;
}

.tr-out>td {
    border-bottom: 2px solid;
}

.shown-timecard {
    display: inline;
}

.hidden-timecard {
    display: none;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

.ready-btn {
    z-index: 2;
    position: fixed;
    right: 37px;
    top: 80px;
    width: 140px;
    height: 50px;
    background-color: rgb(9, 139, 175);
    border: none;
    color: white;
    font-size: 110%;
    box-shadow: 0 0 15px rgb(102, 149, 157);
}

#unready-btn {
    background-color: grey;
}

.add-time-in-out-btn {
    margin: 10px;
}

.add-time-in-out-div {
    width: 100%;
    text-align: center;
}