#background {
    display: relative;
    width: calc(100vw - 15px);
    height: calc(100%);
    min-height: 100vh;
    background-color: gainsboro;
}

#timecard {
    height: calc(100%);
    padding-bottom: 30px;
}

#timecards-div {
    padding-bottom: 70px;
}

table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-collapse: collapse;
    width: 95%;
    box-shadow: 0 0 15px grey;
}

table,
tr,
th,
td {
    border: 1px solid;
}

th,
td {
    width: 10%;
    height: 40px;
}

td {
    text-align: center;
}

input {
    padding-left: 20%;
    border: none;
    position: relative;
    right: 1px;
    width: calc(80%);
    height: 100%;
}

div {
    width: 100%;
    height: 100%;
}

#save-btn {
    position: absolute;
    height: 40px;
    right: 20px;
    color: white;
    font-size: 100%;
    margin: 10px;
    background-color: rgb(9, 139, 175);
    border: none;
    padding: 8px 35px;
    cursor: pointer;
}

.tr-in>td {
    border-top: 2px solid;
}

.tr-out>td {
    border-bottom: 2px solid;
}

.shown-timecard {
    display: inline;
}

.hidden-timecard {
    display: none;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

#time-card-modal-options-div {
    z-index: 5;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#close-options-btn {
    z-index: 10;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background-color: grey;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    color: white;
    padding: 0;
    outline: none;
    font-size: 110%;
}

#close-options-btn:hover {
    background-color: rgb(100, 100, 100);
}

#close-options-btn:active {
    background-color: rgb(60, 60, 60);
}

#time-card-list-div {
    z-index: 7;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: white;
    overflow-y: scroll;
}

.time-card-selector {
    z-index: 9;
    height: 210px;
    text-align: center;
    padding-bottom: 15px 0;
    margin: 15px auto 10px auto;
    border: 1px solid;
    width: 90%;
    overflow-y: hidden;
}

.time-card-selector:hover {
    background-color: rgb(100, 100, 100);
    background-color: rgba(100, 100, 100, 0.4);
}

.time-card-selector:active {
    background-color: rgb(60, 60, 60);
    background-color: rgba(60, 60, 60, 0.4);
}

.time-card-identifier {
    z-index: 8;
    margin: 5px;
}

.mini-table {
    z-index: 8;
    margin: 5px auto;
    width: 80%;
    height: 41.5%;
}

.mini-table-cell {
    height: 5px;
    font-size: 5px;
}

.ready-btn {
    z-index: 2;
    position: fixed;
    right: 90px;
    bottom: 10px;
    width: 140px;
    height: 50px;
    background-color: rgb(9, 139, 175);
    border: none;
    color: white;
    font-size: 110%;
    box-shadow: 0 0 15px rgb(102, 149, 157);
}

#unready-btn {
    background-color: grey;
}

#open-options-btn {
    z-index: 2;
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: grey;
    border: none;
    color: white;
    font-size: 200%;
    box-shadow: 0 0 15px grey;
}

.timecard-identifier-h3 {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 55px;
}

.add-time-in-out-btn {
    margin: 10px;
}

.add-time-in-out-div {
    width: 100%;
    text-align: center;
}